body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;

}

/* .navbar-brand{
    border-radius: 30px;
} */

.card-group {
    margin: 10px 100px;
    display: flex;
    gap: 10px;
}

h2 {
    text-transform: uppercase;
}

.new-in,
.unstitched,
.winter-edit,
.bridals {
    text-align: center;
    font-size: 20px;
    /* font-family: Arial, sans-serif; */
    text-transform: capitalize;
}

.card-footer {
    text-align: center;
    text-transform: capitalize;
}


footer{
    text-align: center;
 
}










@media screen and (min-width:1px) and (max-width:480px) {
    .card-group, .navbar-nav {
        font-size: 17px;
        display: flex;
        flex-direction: column;
        gap: 1;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .card-group {
        font-size: 25px;
        display: flex;
        flex-direction: column;
    }
}